body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td,th {
  padding-top: 1em;
}

.single-stock{
  font-weight: bold;
  font-size: 3rem;
}
